@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    .debug {
        @apply border border-red-600 border-dashed;
    }

    .break-out-container {
        @apply relative;
        left: calc(-50vw + 50%);
        max-width: 100vw;
    }

    .default-bg {
        @apply bg-white dark:bg-gray-900;
    }

    .default-text {
        @apply text-primaryPurple dark:text-primaryPink;
    }

    .default-text-black-white {
        @apply text-black dark:text-white;
    }

    .border-rounded {
        @apply border rounded-xl;
    }

    .default-link {
        @apply default-text hover:underline;
    }

    .flex-row-center {
        @apply flex flex-row items-center;
    }

    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .button {
        @apply px-1 border-rounded border-gray-500 shadow-sm shadow-primaryPurple cursor-pointer hover:shadow-primary-pink;
    }

    .min-w-50px {
        min-width: 50px;
    }
}
