@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .border-outline {
        @apply border;
        @apply border-red-600;
        @apply border-dashed;
    }

    .break-out-of-container-lg {
        /*margin-left: calc(-50vw + 50% + 25vw) !important;*/
        /*margin-right: calc(-50vw + 50% + 25vw) !important;*/
        @apply relative;
        left: calc(-50vw + 50%);
        width: max-content;
        max-width: 100vw;
    }

    .break-out-of-container-xl {
        margin-left: calc(-50vw + 50% + 15vw) !important;
        margin-right: calc(-50vw + 50% + 15vw) !important;
    }

    .break-out-of-container-2xl {
        margin-left: calc(-50vw + 50% + 10vw) !important;
        margin-right: calc(-50vw + 50% + 10vw) !important;
    }

    .break-out-of-container-full {
        margin-left: calc(-50vw + 50%) !important;
        margin-right: calc(-50vw + 50%) !important;
        width: 100vw;
    }
}
