.github-icon {
    margin-left: 20px;
    margin-right: 5px;
    padding-top: 5px;
}
.button-style {
    background: none;
    border: none;
    cursor: pointer;
}
.icon-style {
    /*Used as a name attribute for FeatherIcons*/
}
