.github-icon {
    margin-left: 20px;
    margin-right: 5px;
    padding-top: 5px;
}
.button-style {
    background: none;
    border: none;
    cursor: pointer;
}
.back-up-button {
    color: inherit;
    position: fixed;
    bottom: 50px; right: 25px;
}
