.nav-links-style {
    list-style: none;
    display: flex;
    padding-left: 5px;
    padding-bottom: 25px;
}
.nav-link-padding {
    padding-right: 2rem;
}
.link-style {
    color: #c17aff;
    padding-top: 10px;
    padding-bottom: 10px;
}
.link-style:hover {
    text-decoration-line: none;
}