.nav-links-style {
    list-style: none;
    display: flex;
    padding-left: 5px;
    padding-bottom: 25px;
    font-size: large;
}
.nav-link-padding {
    padding-right: 2rem;
    width: fit-content;
}
.link-style {
    color: #c17aff;
    padding-top: 10px;
    padding-bottom: 10px;
}
.link-style:hover {
    text-decoration-line: none;
}
.form-name-subject {
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 500px) {
    * .form-name-subject {
        flex-flow: column;
    }
}
